body {
    background: white;
  }
  p {
    color: black;
    font-size: 1.5em;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 3em;
  }
  h4 {
    font-size: 3em;
  }
  h5 {
    font-size: 3em;
  }
  h6 {
    font-size: 3em;
  }
  li {
    font-size: 1.5em;
  }